<template>
  <h1>${heading}</h1>
  <h3>${subheading}</h5>
  
  <form>   

    <label>Director</label>
    <input type="text" placeholder="${data.director}" value.bind="data.director">

    <label>Title</label>
    <input type="text" placeholder="${data.title}" value.bind="data.title">

    <label>Year</label>
    <input type="number" placeholder="${data.year}" value.bind="data.year">
 
    <button click.delegate="update(data)" disabled.bind="!data.title || !data.director || !data.year">edit</button>
  </form>

  
</template>
