<template>
  <h1>Edit</h1>
  <h3>Scegli il campo da modificare e poi clicca sul bottone.</h5>
  
  <form>   

    <label>Director</label>
    <input type="text" placeholder="${data.director}" value.bind="data.director">

    <label>Title</label>
    <input type="text" placeholder="${data.title}" value.bind="data.title">

    <label>Year</label>
    <input type="number" placeholder="${data.year}" value.bind="data.year">
 
    <button click.delegate="update()" disabled.bind="!data.title || !data.director || !data.year">edit</button>
  </form>

  
</template>
